[submodule "blog/themes/beautifulhugo"]
	path = blog/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "subsites/leroy-merlin-showcase/themes/hugo-story"]
	path = subsites/leroy-merlin-showcase/themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story.git
